<h1> This is the found page </h1>
Name :<p><%=@found_person[0].name%></p>
Title :<p><%=@found_person[0].title%></p>
department:<p><%=@found_person[0].department%></p>
experience :<p><%=@found_person[0].experience%></p>
Useful:<p><%=@found_person[0].useful%></p>
Salary:<p><%=@found_person[0].salary%></p>