<h1>This is the new joiner page</h1> 

Here is the info on the new_joiner 
<h1> Profile </h1>
Name: <p><%=@new_joiner.name%></p><br>
Title: <p><%=@new_joiner.title%></p><br>
Department: <p><%=@new_joiner.department%></p><br>
Experience: <p><%=@new_joiner.experience%></p><br>
Useful:<p><%=@new_joiner.useful%></p>
Salary:<p><%=@new_joiner.salary%></p>

